<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>倒计时</title>
</head>
<body>
    
</body>
<script>
//      setInterval(() => {
//       this.millisecond -= 1000
//       this.formatTime(this.millisecond)
//     }, 1000);

//  formatTime(msTime) {

// let time = msTime /1000;

// let day = Math.floor(time /60 /60 /24);

// let hour = Math.floor(time /60 /60) %24;

// let minute = Math.floor(time /60) %60;

// let second = Math.floor(time) %60;

// this.time =`${day}天${hour}时${minute}分${second}秒`
// // console.log(msTime)
// }
</script>
</html>